<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user2::list</title>
</head>
<body>
<h3>user2 목록</h3>
<a href="#">처음으로</a>
<a href="#">등록하기</a>

<table border="1">
    <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>생년월일</th>
        <th>성별</th>
        <th>주소</th>
        <th>관리</th>
    </tr>
    <tr>
        <td>a101</td>
        <td>홍길동</td>
        <td>1999-09-09</td>
        <td>남</td>
        <td>부산</td>
        <td>
            <a href="#">수정</a>
            <a href="#">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>