<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>user2::register</title>
</head>
<body>
<h3>user2 등록</h3>
<a href="#">처음으로</a>
<a href="#">목록이동</a>

<form action="#" method="post">
    <table border="1">
        <tr>
            <td>아이디</td>
            <td><input type="text" name="uid" placeholder="아이디 입력"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" name="name" placeholder="이름 입력"></td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td><input type="date" name="birth" placeholder="생년월일 입력"></td>
        </tr>
        <tr>
            <td>성별</td>
            <td>
                <label><input type="radio" name="gender" value="M">남</label>
                <label><input type="radio" name="gender" value="F">여</label>
            </td>
        </tr>
        <tr>
            <td>주소</td>
            <td>
                <select name="address">
                    <option>서울</option>
                    <option>대전</option>
                    <option>대구</option>
                    <option>부산</option>
                    <option>광주</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="등록하기">
            </td>
        </tr>
    </table>
</form>
</body>
</html>