<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user1</title>
</head>
<body>
    <h3>user1 목록</h3>
    <a href="/user1/register">등록하기</a>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>생년월일</th>
            <th>나이</th>
            <th>주소</th>
            <th>관리</th>
        </tr>
        <tr th:each="user1:${user1List}">
            <td>[[${user1.no}]]</td>
            <td>[[${user1.name}]]</td>
            <td>[[${user1.birth}]]</td>
            <td>[[${user1.age}]]</td>
            <td>[[${user1.addr}]]</td>
            <td>
                <a th:href="@{/user1/modify(no=${user1.no})}">수정</a>
                <a href="/user1/delete">삭제</a>
            </td>
        </tr>
    </table>


</body>
</html>